
$font-style: italic;
$color:rgb(168, 163, 163);

.main_block{
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    width: 1300px;
}
#canvas{
    display: flex;
    border:1px solid black;
    background-image: url("https://st2.depositphotos.com/1025893/8824/i/600/depositphotos_88241222-stock-photo-background-of-notebook-sheet-in.jpg");
}
#start{
    font-style: $font-style;
    border-radius: 50%;
    font-size: 16px;
    padding: 50px 10px;
}
#attempted{
    display: flex;
    align-items: center;
    height: 50px;
    justify-content: center;
}
/* #repeat_word{
    border:1px solid green;
}
#commentComputer{
    border:1px solid blue;
} */
#info{
    margin:auto;
}